[submodule ".osx/modules/spoof-mac"]
	path = .osx/modules/spoof-mac
	url = https://github.com/tlvince/spoof-mac-osx.git
[submodule ".osx/modules/dotapp/Chtmp.app"]
	path = .osx/modules/dotapp/Chtmp.app
	url = https://github.com/dotapp/Chtmp.app.git
[submodule ".osx/modules/dotapp/Manganese.app"]
	path = .osx/modules/dotapp/Manganese.app
	url = https://github.com/dotapp/Manganese.app.git
[submodule ".osx/modules/noatime-osx"]
	path = .osx/modules/noatime-osx
	url = https://github.com/tlvince/noatime-osx.git
[submodule ".osx/vendor/chriskempson/base16-shell"]
	path = .osx/vendor/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
